In [ ]:
import os

import pandas as pd

from dotenv import load_dotenv
from google import genai
from pydantic import BaseModel

from studies_utils import comp_list_to_df

In [ ]:
gemini_key = os.getenv('GEMINI_API_KEY')

In [ ]:
client = genai.Client(
    api_key = gemini_key
)

In [ ]:
class companies(BaseModel):
    company_name: str
    year: list[str]
    mkt_value: list[str]

In [ ]:
response = client.models.generate_content(
    model = 'gemini-2.5-flash-lite',
    contents = 'Could you please list the 10 biggest brazilian companies by market value, and include their value for each of the last 10 years?',
    config = {
        'response_mime_type': 'application/json',
        'response_schema': list[companies]
    },
)

In [ ]:
print(response.text)

In [ ]:
comp_list: list[companies] = response.parsed

df = comp_list_to_df(comp_list)

In [ ]:
df = df.assign(
    mkt_value = (df['mkt_value'].str.replace(r'\D', '', regex = True).astype(int))*10**7
)